.scorecard{
	h2{
		margin-bottom: 0;
		font-size: 2em;
	}
	h3{
		margin-top: 0;
	}

	time{
		font-style: italic;
		color: $brand-primary;
	}
	.tourney-info{
		display: block;
		font-style: italic;
	}
}